@import '../vendors/fonts.scss';


// font family

$primaryFont:'Montserrat';

//fontColor

$colorWhite:#fff;
$headingSpan1:#016738;
$headingSpan2:#998675;
// font sizes
$mainHeading:30px;
// paddings
//margins
$containerMarg:50px;